#Introduction{
  background: #0A192F;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  text-align: center;
  margin: auto;
  padding: 15%;
}

#TitleName{
  font-size: 60px;
  font-family: 'Anton';
}

#TitleDesc{
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
}

#typing-text {
  background-color: #000000;
  font-size: 24px;
  padding: 10px;
  color: #FFFFFF;
}

#clickMe{
  background-color: transparent;
  border: 0;
  color: #e9edf0;
  margin-top: 1%;
}

#whoami-wrapper{
  background-color: #C8D6E5;
  padding: 10%;
  font-family: 'Patrick Hand', cursive;
}

p{
  font-size: 24px;
  font-family: 'Patrick Hand', cursive;
}

h1{
  font-size: 36pt;
  font-weight: 800;
}

#BookMe{
  background-color: #004346;
  padding: 10%;
  color: #FFFFFF;
}

.book-me-button {
  background-color: #10565a; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  width: 250px;
}

.book-me-button:hover {
  background-color: #1e777c; 
  color: #FFFFFF;
}


#bookMe-text{
  font-size: 16pt;
}


.technologies {
  margin: 20px 0;
  padding: 3%;
}

.technologies h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.technologies ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.technologies li {
  display: inline-block;
  margin: 10px;
  font-size: 1.2em;
}

.technologies i {
  font-size: 2em;
  margin-right: 10px;
}

#FunApiProjects{
  background-color: #008080;
  padding: 5%;
  
}
#FunApiProjects-h1{
  text-align: center;
  margin-bottom: 80px;
  color: #FFFFFF;
}
#PreviousTalks{
  background-color: #ffffff;
  padding: 10%;
}
#PreviousTalksLink{
  text-decoration: none;
  color: #e9edf0;
}
#PreviousTalksLink:hover{
  text-decoration: none;
  color: auto;
}
